<%- include('./partials/header.ejs') %>

<%- include('./partials/navbar.ejs') %>

<div class="about content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit similique laudantium velit fuga quaerat praesentium? Distinctio minus excepturi ab culpa. Laudantium harum labore maxime veniam saepe, doloremque neque a nam.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti nemo repudiandae, culpa est ad ipsum animi quibusdam veniam, ipsa optio rem omnis obcaecati accusamus vitae, eligendi eaque porro ex impedit?</p>
</div>

<%- include('./partials/footer.ejs') %> 